<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Mars</title>
</head>
<body>
  
  <!-- The large header class allows the featured image to be a background. -->
  <div class="card bg-dark text-white">

      <!-- Image scraped from jpl.nasa.gov  -->
      <img src="{{ mars.Mars_Featured_Image }}"  class="card-img" alt="">
      <div class="card-img-overlay">

      <!-- Text for the top of the page. -->
        <h1 class="display-3 text-primary">Welcome to Mars!</h1>
        <p>The place for the latest news, photos, and facts about the planet Mars.</p>

       <!-- The button to take us away. -->
        <p><a class="btn btn-primary btn-lg" href="http://127.0.0.1:5000/scrape" role="button">Click for Latest Facts</a></p>
      </div>
    </div>

  <div class="container">

    <div class="row">
      <!-- Cards to hold the news and weather -->
      <div class="card-group">
          <div class="card">
            <div class="card-body">
              <h2 class="card-title text-primary">News</h2>
              <p class="card-text"><b>{{ mars.Mars_News_Headline }}</b></p>
              <p class="card-text">{{ mars.Mars_News_Article }}</p>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
                <h2 class="text-primary">Weather</h2>
              <p class="card-text">{{ mars.Mars_Weather }}</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Next row holds the facts table -->
      <!-- <div class="row"> -->
              <div class="col-md-6 mt-4">
                  <h2 class = "text-primary">Mars Facts</h2>
                  <hr>
                  {{ mars.Mars_Facts | safe }}
              </div> 
      <!-- </div> -->
      <!-- New row for the hemispheres -->
              <div class="row mt-5">
                  <div class="col-md-12 text-center">
                      <h2 class = "text-primary">Mars Hemispheres</h2>
                  </div>
              <!-- "for" loop to go through the dictionary -->
          {% for hemisphere in mars.Mars_Hemisphere %}
              <div class="col-md-6">
                  <figure class="figure">
                      <img class = "figure-img img-fluid my-1" src="{{ hemisphere.image_url}}"> 
                      <figcaption class = "figure-caption text-primary"><h4>{{ hemisphere.title}}</h4></figcaption>
                  </figure>
              </div>
                 
            {% endfor %}
          
    </div>
  </div> 
</section>
</body>
</html>